.t_pagetop {
  width: 100%;
  height: 3.5rem;
  background-image: url("../images/t_bg.jpg");
  background-size: cover;
}
.t_pagetop .t_container1 {
  width: 100%;
  height: 100%;
}
.t_pagetop .t_container1 .t_word {
  text-align: center;
  width: 100%;
  height: 0.88rem;
}
.t_pagetop .t_container1 .t_word h1 {
  width: 100%;
  height: 0.88rem;
  font-size: 0.6rem;
  margin-top: 0.01rem;
  padding-top: 0.4rem;
  line-height: 0.88rem;
  display: block;
  color: #FFFFFF;
}
.t_pagetop .t_container1 form {
  width: 100%;
  height: 2rem;
  text-align: center;
  position: relative;
}
.t_pagetop .t_container1 form input {
  width: 6rem;
  height: 0.5rem;
  margin-top: 0.94rem;
  padding-left: 0.55rem;
  border-radius: 0.05rem;
}
.t_pagetop .t_container1 form span {
  position: absolute;
  margin-top: 1.11rem;
  font-size: 0.22rem;
  padding-left: 0.51em;
}
