@charset "utf-8";
.gd {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}
.gd .gd_title {
  color: #000;
  font-size: 0.38rem;
  font-weight: 500;
  margin: 0;
  padding: 80px 20px 50px;
}
.gd .gd_content {
  width: 76%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 34px 5px rgba(3, 65, 157, 0.1);
  padding-top: 0.3rem;
}
.gd .gd_content .jg_title {
  color: #000;
  font-size: 24px;
  padding: 0.4rem 0.3rem;
  text-align: center;
  border-top: 1px solid #dadfe6;
}
.gd .gd_content .jg {
  position: relative;
  display: flex;
  width: 100%;
}
.gd .gd_content .jg .jg_div {
  position: relative;
  border: 1px solid #dadfe6;
  padding: 0.3rem 0 0.4rem;
  text-align: center;
  width: 2.7rem;
  height: 2.8rem;
  margin: 0 auto;
}
.gd .gd_content .jg .jg_div .jg_header {
  position: relative;
  color: #000;
  font-size: 0.3rem;
  margin-bottom: 0.2rem;
}
.gd .gd_content .jg .jg_div .jg_mid1 {
  position: relative;
  color: #606c80;
  font-size: 0.14rem;
  margin-bottom: 0.1rem;
}
.gd .gd_content .jg .jg_div .jg_mid2 {
  position: relative;
  color: #323a45;
  font-size: 0.14rem;
  margin: 0.1rem 0 0.3rem;
}
.gd .gd_content .jg .jg_div .jg_btn {
  position: relative;
  background-color: #06f;
  color: #fff;
  font-size: 0.14rem;
  height: 0.32rem;
  line-height: 0.32rem;
  padding: 0;
  text-align: center;
  width: 104px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
}
.gd .gd_content .p1 {
  font-size: 0.16rem;
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
  text-align: center;
}
.gd .gd_content .p2 {
  font-size: 0.24rem;
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
  text-align: center;
}
.gd .gd_content .p3 {
  font-size: 0.16rem;
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000;
  text-align: center;
}
.gd .gd_content .ms {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 0.24rem;
  justify-content: center;
  margin: 30px auto 50px;
  padding: 0 20px;
  text-align: center;
}
.gd .gd_content .ms .xr {
  color: #06f;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.gd .gd_content .gou {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 20px 60px;
  border-bottom: 1px solid #dadfe6;
}
.gd .gd_content .gou .gou_text {
  color: #202d40;
  font-size: 0.16rem;
  flex: 1;
  line-height: 1.5;
}
ul.lanren {
  width: 100%;
  margin: 40px auto;
}
.scale_panel {
  width: 200px;
  position: relative;
  line-height: 18px;
  margin: 0 auto;
}
.scale span {
  background-color: #06f;
  width: 30px;
  height: 17px;
  position: absolute;
  left: -1px;
  top: -4px;
  cursor: pointer;
}
.scale {
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-color: #e4e9f0;
  border-left: 1px #83BBD9 solid;
  width: 200px;
  height: 10px;
  position: relative;
  font-size: 0px;
}
.scale div {
  background-repeat: repeat-x;
  background-color: #80b3ff;
  width: 250px;
  position: absolute;
  height: 10px;
  width: 0;
  left: 0;
  bottom: 0;
}
.lanren li {
  font-size: 18px;
  line-height: 50px;
  position: relative;
  height: 50px;
  list-style: none;
}
@media screen and (min-width: 360px) and (max-width: 855px) {
  .gou {
    flex-direction: column;
  }
  .gou .gou_text {
    color: #202d40;
    font-size: 0.16rem;
    margin-top: 10px;
  }
  .jg {
    flex-direction: column ;
    padding-bottom: 20px;
  }
  .jg_div {
    position: relative;
  }
  .jg_btn {
    position: absolute;
    bottom: 0.1rem;
  }
}
.jg_bottom {
  color: #000;
  font-size: 0.16rem;
  padding: 0.4rem 0.3rem 0.9rem;
  text-align: center;
}
