@charset "utf-8";
.footer-container {
  background: #fff;
  border-top: 1px solid #dbdde4 !important;
  padding: 0!important;
}
.footer-container .footer {
  background: #fff;
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 1rem 0;
}
.footer-container .footer .us {
  list-style: outside none none;
  margin: 0;
  padding-left: 0;
}
.footer-container .footer .us li {
  float: left;
  width: 25%;
}
.footer-container .footer .us h3 {
  color: #323a45;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px;
  text-decoration: none;
}
.footer-container .footer .us .us-row {
  display: table;
  float: left;
  width: 50%;
}
.footer-container .footer .us .us-row .us-col {
  display: table-cell;
  width: 25%;
}
.footer-container .footer .us:after {
  clear: both;
  content: "";
  display: block;
}
.footer-container .footer .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container .footer .list li {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
}
.footer-container .footer .list a {
  color: #4f565f;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
}
.footer-container .footer .list a:hover {
  color: #323a45;
}
.footer-container .tidy {
  background: #202d40;
  color: #fff;
  padding: 0 1rem;
}
.footer-container .tidy .tidy-content {
  margin: 30px auto 0!important;
  max-width: 980px;
  padding: 30px 0;
  position: relative;
}
.footer-container .tidy .tidy-content .logo img {
  max-height: 36px;
  position: absolute;
}
.footer-container .tidy .tidy-content .info {
  font-size: 12px;
  text-align: right;
}
.footer-container .tidy .tidy-content .info p {
  height: 18px;
  line-height: 18px;
  margin: 0;
}
.footer-container .tidy .tidy-content .info a {
  color: #fff;
  text-decoration: none;
}
.footer-container .tidy .tidy-content .info a:hover {
  color: #fff;
}
.footer-container .share {
  display: inline-block;
  float: left;
  vertical-align: top;
}
.footer-container .share .weixin .dropdown {
  top: -235px;
}
.footer-container .share .qqgroup .dropdown {
  top: -314px;
}
.footer-container .share span {
  background: #979fa8;
  border: 0.1rem solid #979fa8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.footer-container .share i {
  color: #fff;
}
.footer-container .share .share-item {
  display: inline-block;
  margin-right: 0.1rem;
}
.footer-container .share .qrcode {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.footer-container .share .qrcode .dropdown {
  -webkit-transform: translateY(-20px);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -92px;
  opacity: 0;
  position: absolute;
  top: -235px;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.footer-container .share .qrcode .dropdown:after {
  -webkit-transform: rotate(-45deg);
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  bottom: -5px;
  content: "";
  height: 0.6em;
  left: auto;
  position: absolute;
  right: 102px;
  top: auto;
  transform: rotate(-45deg);
  transition: background 0.1s linear;
  width: 0.6em;
  z-index: 2;
}
.footer-container .share .share-img {
  cursor: pointer;
  height: 36px;
  opacity: 0.8;
  width: 36px;
}
.footer-container .share .share-img:hover {
  opacity: 1;
}
.footer-container .share .share-img:hover + .dropdown {
  -webkit-transform: translateY(0);
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
@media screen and (max-width: 800px) {
  .footer-container .footer .us .us-row {
    display: table;
    float: inherit;
    margin-bottom: 1rem;
    width: 100%;
  }
  .footer-container .footer .us .us-row .us-col {
    display: table-cell;
    width: 50%;
  }
  .footer-container .share .share-item {
    display: inline-block;
    margin-right: 0.1rem;
  }
  .footer-container .tidy .tidy-content {
    text-align: center;
  }
  .footer-container .tidy .tidy-content .logo img {
    margin-bottom: 0.5rem;
    max-width: 260px;
    position: relative;
  }
  .footer-container .tidy .tidy-content .info {
    text-align: center;
  }
}
