@charset "utf-8";
.y_logo {
  background: url("../images/w-hearder.png") no-repeat;
  background-size: 80% ;
  background-position: center;
  height: 48px;
  width: 260px;
  padding-top: 10px;
}
.navbar {
  width: 100%;
  z-index: 999;
  box-shadow: inset 0 -1px 0 0 #d8dee5;
  position: fixed;
  min-height: 50px;
  margin-bottom: 0px;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #9FB6CD;
}
.navbar-right a {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 3px;
  text-decoration: none;
  height: 30px;
  width: 70px;
  line-height: 30px;
  border-radius: 4px;
}
.navbar-right .btn1 {
  background-color: white;
  border: 1px solid #06f;
  color: #06f;
}
.navbar-right .btn2 {
  background-color: #06f;
  border: 1px solid #06f;
  color: white;
}
.navbar-form {
  border: none;
}
.collapse,
.navbar-collapse {
  text-align: center;
  background-color: white;
}
@media screen and (max-width: 764px) {
  .navbar-right a {
    width: 260px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #202d40;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #202d40;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.clearfix,
.navbar {
  zoom: 1;
}
.clearfix:after,
.navbar:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.clearfix:before,
.navbar:before {
  content: "";
  display: table;
}
.footer-container {
  background: #fff;
  border-top: 1px solid #dbdde4 !important;
  padding: 0!important;
}
.footer-container .footer {
  background: #fff;
  margin: 0 auto;
  max-width: 980px;
  padding: 30px 1rem 0;
}
.footer-container .footer .us {
  list-style: outside none none;
  margin: 0;
  padding-left: 0;
}
.footer-container .footer .us li {
  float: left;
  width: 25%;
}
.footer-container .footer .us h3 {
  color: #323a45;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px;
  text-decoration: none;
}
.footer-container .footer .us .us-row {
  display: table;
  float: left;
  width: 50%;
}
.footer-container .footer .us .us-row .us-col {
  display: table-cell;
  width: 25%;
}
.footer-container .footer .us:after {
  clear: both;
  content: "";
  display: block;
}
.footer-container .footer .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-container .footer .list li {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
}
.footer-container .footer .list a {
  color: #4f565f;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
}
.footer-container .footer .list a:hover {
  color: #323a45;
}
.footer-container .tidy {
  background: #202d40;
  color: #fff;
  padding: 0 1rem;
}
.footer-container .tidy .tidy-content {
  margin: 30px auto 0!important;
  max-width: 980px;
  padding: 30px 0;
  position: relative;
}
.footer-container .tidy .tidy-content .logo img {
  max-height: 36px;
  position: absolute;
}
.footer-container .tidy .tidy-content .info {
  font-size: 12px;
  text-align: right;
}
.footer-container .tidy .tidy-content .info p {
  height: 18px;
  line-height: 18px;
  margin: 0;
}
.footer-container .tidy .tidy-content .info a {
  color: #fff;
  text-decoration: none;
}
.footer-container .tidy .tidy-content .info a:hover {
  color: #fff;
}
.footer-container .share {
  display: inline-block;
  float: left;
  vertical-align: top;
}
.footer-container .share .weixin .dropdown {
  top: -235px;
}
.footer-container .share .qqgroup .dropdown {
  top: -314px;
}
.footer-container .share span {
  background: #979fa8;
  border: 0.1rem solid #979fa8;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.footer-container .share i {
  color: #fff;
}
.footer-container .share .share-item {
  display: inline-block;
  margin-right: 1.44rem;
}
.footer-container .share .qrcode {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.footer-container .share .qrcode .dropdown {
  -webkit-transform: translateY(-20px);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -92px;
  opacity: 0;
  position: absolute;
  top: -235px;
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.footer-container .share .qrcode .dropdown:after {
  -webkit-transform: rotate(-45deg);
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  bottom: -5px;
  content: "";
  height: 0.6em;
  left: auto;
  position: absolute;
  right: 102px;
  top: auto;
  transform: rotate(-45deg);
  transition: background 0.1s linear;
  width: 0.6em;
  z-index: 2;
}
.footer-container .share .share-img {
  cursor: pointer;
  height: 36px;
  opacity: 0.8;
  width: 36px;
}
.footer-container .share .share-img:hover {
  opacity: 1;
}
.footer-container .share .share-img:hover + .dropdown {
  -webkit-transform: translateY(0);
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
@media screen and (max-width: 800px) {
  .footer-container .footer .us .us-row {
    display: table;
    float: inherit;
    margin-bottom: 2rem;
    width: 100%;
  }
  .footer-container .footer .us .us-row .us-col {
    display: table-cell;
    width: 50%;
  }
  .footer-container .share .share-item {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .footer-container .tidy .tidy-content {
    text-align: center;
  }
  .footer-container .tidy .tidy-content .logo img {
    margin-bottom: 1.5rem;
    max-width: 260px;
    position: relative;
  }
  .footer-container .tidy .tidy-content .info {
    text-align: center;
  }
}
.layout .layout-content {
  display: table;
  height: 100%;
  padding: 4rem 0;
  table-layout: fixed;
  width: 100%;
}
.layout .layout-cell {
  display: table-cell;
  overflow: hidden;
  table-layout: fixed;
}
.layout .layout-cell.vertical-middle {
  vertical-align: middle;
}
.text-cell {
  width: 400px;
}
.text-content h1 {
  font-size: 2.57rem;
  line-height: 3.57rem;
  margin-bottom: 1rem;
}
.text-content p {
  font-size: 1.14rem;
  line-height: 2rem;
}
.text-content.align-center {
  margin-bottom: 1rem;
  text-align: center;
}
.left-cell .text-content {
  padding-left: 40px;
  padding-right: 10px;
}
.right-cell .text-content {
  padding-left: 10px;
  padding-right: 40px;
}
.light-bg {
  background: #f7fcff;
}
.section-content {
  height: 100%;
  margin: 0 auto;
  max-width: 1112px;
  position: relative;
}
.banner-section {
  background-image: linear-gradient(-180deg, #408cff, #66a3ff);
  height: 600px;
}
.banner-section .banner-bg {
  background: url(https://dn-coding-net-production-pp.codehub.cn/d7fa9828-e106-4b73-aa74-2fc34496e949.png) no-repeat 0 100%, url(https://dn-coding-net-production-pp.codehub.cn/c091f40f-a9df-4d6d-b687-a8fb3e314061.png) no-repeat 100% 0;
  background-size: 42% auto,38% auto;
  bottom: 0;
  left: 0;
  margin: 0 56px;
  max-width: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.banner-section .banner {
  color: #fff;
  display: flex;
  height: 100%;
  position: relative;
  z-index: 100;
}
.banner-section .banner .banner-text {
  align-self: center;
  margin: 0 auto 9rem;
  max-width: 58rem;
  text-align: center;
}
.banner-section .banner .banner-text h1 {
  font-size: 3.43rem;
  line-height: 5rem;
  margin-bottom: 1.43rem;
}
.banner-section .banner .banner-text p {
  font-size: 1.14rem;
  line-height: 2rem;
}
.video-section {
  min-height: 600px;
}
.video-section .video {
  margin-bottom: 5rem;
  margin-top: -9rem;
  padding: 0 40px;
  position: relative;
  width: 100%;
  z-index: 100;
}
.video-section .video .video-box {
  box-shadow: 0 0 40px 0 rgba(3, 65, 157, 0.11);
  display: block;
  margin: 0 auto;
  width: 100%;
}
.video-section .video video {
  display: block;
  width: 100%;
}
.video-section .video .tab {
  display: block;
  margin-bottom: -1px;
  width: 100%;
}
.image-content {
  overflow: hidden;
  position: relative;
}
.image-content img {
  max-width: 100%;
}
.image-content .minor-image {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.image-content.hide {
  display: none;
}
.code-slick-container {
  display: block;
  flex: inherit;
}
.code-slick-dot {
  margin-top: 4rem;
}
.code-slick-dot .slick-dots {
  position: inherit;
  text-align: left;
}
.code-slick-dot .slick-dots li.slick-active button:before {
  color: #76808e;
}
.code-slick-dot .slick-dots li button {
  margin: 0;
}
.code-slick-dot .slick-dots li button:before {
  color: #cbd0d9;
  font-size: 16px;
}
.code-slick-dot.mobile {
  display: none;
}
.code-slick-dot.mobile .slick-dots {
  text-align: center;
}
@media only screen and (max-width: 1112px) {
  .video-section .video {
    padding: 0 1.43rem;
  }
  .layout .layout-content {
    padding: 4rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .banner-section .banner .banner-text {
    margin: 0 auto 3.43rem;
    padding: 0 1.43rem;
  }
  .banner-section .banner .banner-text h1 {
    font-size: 2.14rem;
    line-height: 3rem;
    margin-bottom: 1.43rem;
  }
  .banner-section .banner .banner-text p {
    font-size: 1rem;
  }
  .text-content {
    margin-bottom: 1.43rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: inherit;
  }
  .text-content h1 {
    font-size: 2.14rem;
    line-height: 3rem;
  }
  .text-content p {
    font-size: 1rem;
  }
  .left-cell .text-content,
  .right-cell .text-content {
    padding-left: 0;
    padding-right: 0;
  }
  .video-section {
    height: inherit;
    min-height: inherit;
  }
  .app-section .text-content h1 {
    font-size: 2.14rem;
    line-height: 3rem;
  }
  .code-slick-dot {
    display: none;
  }
  .code-slick-dot.mobile {
    display: inherit;
  }
  .layout .layout-content {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    table-layout: inherit;
  }
  .layout .layout-cell {
    display: block;
    order: 1;
    table-layout: inherit;
  }
  .layout .text-cell {
    order: 0;
    width: inherit;
  }
}
.fade-up {
  transition: transform 1s linear;
  transform: translateY(-50px);
}
